<%- include('./partials/header.ejs') -%> 

<h1>Productos</h1>
<br/>
<a class="btn btn-success" href="/">Nuevo</a>
<br/>
<br/>
<ul class="list-group">
    <% for(var i=0; i < productos.length; i++) {%>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold"><%= productos[i].title %></div>
            <%= productos[i].price %>
            </div>
            <img src=<%= productos[i].thumbnail %>></img>
        </li>
    <% } %>
</ul>

<%- include('./partials/footer.ejs') -%> 