<h1>Datos obtenidos de argumentos y el objeto process</h1>
<ul>
    <li>Argumentos entrada: {{arguments}}</li>
    <li>SO: {{so}}</li>
    <li>Versión node.js: {{version}}</li>
    <li>Memoria reservada: {{memory}}</li>
    <li>Path de ejecución: {{path}}</li>
    <li>Process id: {{pid}}</li>
    <li>Carpeta del proyecto: {{folder}}</li>
</ul>